#login, #cadastrar{
    width: 250px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px!important;
    padding: 10px;
    background-color: white;
    
}

#areaComentario{
    height: 500px;
    overflow-y: auto;
}

.central{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 40vh;
}